@using System.Reflection
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>Dotnet DemoApp: @ViewData["Title"]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS Bootswatch Pulse theme -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/pulse/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-FnujoHKLiA0lyWE/5kNhcd8lfMILbUAZFAT89u11OhZI7Gt135tk3bGYVBC2xmJ5" crossorigin="anonymous">

  <!-- Fontawesome (free) -->
  <script src="https://kit.fontawesome.com/17aac63d29.js" crossorigin="anonymous"></script>

  <title>.NET DemoApp: @ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css" />

  @Html.Raw(AppInsightsSnippet.FullScript)
</head>

<body>
  <!-- Main app navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/img/icon.svg" width="30" height="30" class="d-inline-block align-top"> &nbsp; .NET Demo App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/info" class="btn btn-info btn-lg" type="button"><i class="fas fa-info-circle"></i> Info</a>
        &nbsp;
        <a href="/monitor" class="btn btn-info btn-lg" type="button"><i class="fas fa-chart-line"></i> Monitoring</a>        
        &nbsp;
        <a href="/tools" class="btn btn-info btn-lg" type="button"><i class="fas fa-wrench"></i> Tools</a> 
        @if (@Configuration.GetSection("Weather").Exists()) 
        { 
          @:&nbsp;
          <a href="/weather" class="btn btn-info btn-lg" type="button"><i class="fas fa-cloud-sun-rain"></i> Weather</a>           
        }
      </div>

      <!-- User login button -->
      <partial name="_UserPartial" />
    </div>
  </nav>

  <div class="container">
    <main role="main">
      @RenderBody()
    </main>
  </div>

  <footer class="footer bg-light p-1 fixed-bottom w-100">
    &copy; 2020 Ben Coleman - v@(Assembly.GetEntryAssembly().GetName().Version)
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>